body{
    background:linear-gradient(135deg,#e1e3e1db) ;
}
.ProfileForm{
        width:90%;
        margin: 60px auto;
        background: white;
        padding: 50px;
        border-radius: 20px;
        margin-bottom: 20px ;
        box-shadow: 0 15px 40px rgba(0,0,0,.08);
}
.ProfileForm2{
    width:70%;
        margin: 20px auto;
        background: white;
        padding: 50px;
        border-radius: 20px;
        margin-bottom: 20px ;
        box-shadow: 0 15px 40px rgba(0,0,0,.08);
}
.ProfileForm3{
  width:70%;
        margin: 20px auto;
        background: white;
        padding: 50px;
        border-radius: 20px;
        margin-bottom: 20px ;
        box-shadow: 0 15px 40px rgba(0,0,0,.08);   
}
.upload-card {
    border-radius: 10px;
    border: 1px solid;
    background: linear-gradient(135deg, #eef5ff 0%, #ffffff 100%);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.15);
    transition: 0.3s;
}
.upload-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(13, 110, 253, 0.25);
}

.upload-card label {
    font-size: 15px;
    color: #2c3e50;
    margin-bottom: 15px;
    display: block;
}


.custom-file {
    border: 2px dashed #0d6efd;
    border-radius: 6px;
    padding: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.custom-file:hover {
    background: #eef5ff;
    border-color: #0b5ed7;
}


.custom-file::file-selector-button {
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    background: #3a5d92;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;
}
.custom-file::file-selector-button:hover {
    background: #0b5ed7;
}


.preview-img {
    margin-top: 15px;
    border-radius: 8px;
    border: 2px dashed #ccc;
    object-fit: cover;
    background: #f8f9fa;
    padding: 5px;
    transition: 0.3s;
}
.preview-img[src=""] {
    content: url('https://cdn-icons-png.flaticon.com/512/2921/2921222.png');
    width: 100px;
    height: 100px;
    opacity: 0.4;
    border: none;
    padding: 0;
}