<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="style/angular.css">
  <script>
    function back() {
      localStorage.removeItem("activeuser");
      location.href = "Dash-admin.html"
    }
  </script>
  <script>
    let myModule = angular.module("modulekuch", []);
    let myController = myModule.controller("controllerkuch", function ($scope, $http) {
      //------------show all---------------//
      $scope.doshowall = function () {
        let url = "/show-all";
        $http.get(url).then(function (resp) {
          //  alert(JSON.stringify(resp.data))
          console.log(resp.data);
          $scope.jsonarray = resp.data;
        }, function (err) {
          alert(err);
        });
      }
      //---------block users active=0-------------//
      $scope.doblock = function (emailidkuch) {
        alert(emailidkuch);
        let url = "/block-users?emailkeykuch=" + emailidkuch;
        $http.get(url).then(function (resp) {
          alert(JSON.stringify(resp.data))
          $scope.doshowall();
        }, function (err) {
          alert(err);
        })
      }

      //------------resume/unblock active=1-----------//
      $scope.doresume = function (emailidkuch) {
        alert(emailidkuch);
        let url = "/unblock-users?emailkeykuch=" + emailidkuch;
        $http.get(url).then(function (resp) {
          alert(JSON.stringify(resp.data))
          $scope.doshowall();
        }, function (err) {
          alert(err);
        })
      }

    })
  </script>




</head>



<body ng-app="modulekuch" ng-controller="controllerkuch" ng-init="doshowall();">

  <!--------------------nav bar----------------------->
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(57, 102, 144);">
    <div class="container-fluid">
      <a class="navbar-brand text-white d-flex align-items-center fw-bold fs-5 w-100" href="#">
        <img src="/pics/websitelogo.jpeg" alt="Logo" class="rounded-circle me-2" width="35" height="35"
          class="d-inline-block align-text-top me-2 rounded">
        <span
          style="text-shadow: 2px 2px 4px rgba(255,255,255,0.7); box-shadow: 0 8px 12px rgba(0,0,0,0.3); ">Help_Hub.com</span>
        <!--<span class="text-white fw-bold fs-5 position-absolute top-50 start-50 translate-middle"
                    style="text-shadow: 2px 2px 4px rgba(255,255,255,0.7); ">HELLO DONORS 🙋🏻‍♀️</span>-->
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex gap-3 ms-auto">


        <button class="btn btn-outline-light" onclick="back()" type="button">Back</button>
      </form>

    </div>

  </nav>
  <br>
  <center>
    <h2 style="color: rgb(29, 61, 90);">Users Control Panel </h2>
  </center>
  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Email Id</th>
        <th scope="col">Password</th>
        <th scope="col">User Type</th>
        <th scope="col">Date of Submission</th>
        <th scope="col">Active</th>
        <th scope="col">Operations</th>

      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr ng-repeat="obj in jsonarray">
        <td>{{$index+1}}</td>
        <td>{{obj.emailid}}</td>
        <td>{{obj.Pwd}}</td>
        <td>{{obj.Utype}}</td>
        <td>{{obj.dos}}</td>
        <td>{{obj.activee}}</td>
        <td>
          <input type="button" ng-click="doblock(obj.emailid)" value="Block">
          <input type="button" ng-click="doresume(obj.emailid)" value="Resume">
        </td>

      </tr>
    </tbody>
  </table>
</body>

</html>